<div class="pricing-table ##is_highlighted## ">
      <div class="ptable-item">
        <div class="ptable-single ">
          <div class="ptable-header">
            <div class="ptable-title">
              <h2>##col_title## <br> ##description##</h2>
              
            </div>
            <div class="ptable-price">
              <h2><small>##col_price_currency##</small>##col_price##<span>##col_price_suffix##</span></h2>
            </div>
          </div>
          <div class="ptable-body">
            <div class="ptable-description">
              <ul>
                <li> ##col_feature_list##</li>
              </ul>
            </div>
          </div>
          <div class="ptable-footer">
            <div class="ptable-action">
              <a href="">##col_cta_btn_text##</a>
            </div>
          </div>
        </div>
      </div>
      </div>