 <div class="wrapper">
        <div class="pricing-table gprice-single">
            <div class="head">
                 <h4 class="title">##col_title##</h4> 
            </div>
            <div class="content">
                <div class="price">
                    <h1>##col_price_currency##</sup><span class="vxpt-price-value">##col_price##</span><span class="vxpt-price-suffix"> ##col_price_suffix##</span></h1>
                </div>
                <ul>
                    <li>  ##col_feature_list## </li>
                
                </ul>
                <div class="sign-up">
                    <a href="#" class="btn bordered radius">##col_cta_btn_text##</a>
                </div>
            </div>
        </div>
            
    </div>